.custom-button-container {
    left: -10px;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(-262.71deg, #000000 -30.04%, #126054 124.74%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button-container:hover {
    cursor: pointer;
    opacity: 0.8;
    background: linear-gradient(262.71deg, #000000 -30.04%, #126054 124.74%);
}
