.tasks-container {
    padding: 60px 85px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding-top: 50px;
    height: 100vh;

    h2 {
        margin: 24px 24px;
    }
    h3 {
        font-size: 18px;
        margin: 24px 24px;
    }
    p{
        margin-left: 48px;
    }
}
.last-tasks {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    // align-items: center;
    .tasklist {
        margin: 28px 28px;
    }

}

.completed-tasks {
    flex: 1;
    padding-top: 28px;

    .tasklist {
        margin: 28px 28px;
    }
}
