* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$background-body: linear-gradient(259.93deg, #000000 -41.68%, #00275f 146.85%);
$text-color: ffffff;
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: $background-body;
    color: $text-color;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
